<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="navImg rounded" src="{{ asset ('img/logoMidnight.png') }}" alt="logo représentant un chandelier et un clair de lune" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {# <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{{ path('app_about') }}">À propos</a>
                </li> #}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path ('app_event_index') }}">Nos évènements</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path ('app_event_new') }}">Ajouter évènement</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                {% if (app.user) %}
                    <li class="nav-item">
                        <a class="nav-link p-2 flex-shrink-1" href="{{ path ('app_logout') }}">
                        <img class="icons" src="{{ asset ('img/iconChat.png') }}" alt="icon représentant un chat" />Se déconnecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 flex-shrink-1" href="{{ path('app_event_new') }}">Ajouter un Événement</a>
                    </li>  
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link p-2 flex-shrink-1" href="{{ path ('app_register') }}">
                        <img class="icons" src="{{ asset ('img/iconGhost.png') }}" alt="icon représentant un fantôme blanc" />Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 flex-shrink-1" href="{{ path ('app_login') }}">
                        <img class="icons" src="{{ asset ('img/iconLantern.png') }}" alt="icon représentant une lanterne" />Se connecter</a>
                    </li>
               
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
